@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Oxygen+Mono';

.page-header {
  text-align: center;
}
.page-header small {
  display: block;
}
.cart-row {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}
.cart-row div {
  text-align: center; 
}
.cart-row img.img-responsive {
  margin: 0 auto; 
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  background-color: #30363b;
  border-coor: #2b3135;
  width: 100px;
}
.bootstrap-datetimepicker-widget.dropdown-menu:after,
.bootstrap-datetimepicker-widget.dropdown-menu:before {
  display: none !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu .arrow {
  display: none !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu .arrow:after,
.bootstrap-datetimepicker-widget.dropdown-menu .arrow:before {
  display: none !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu a span:hover,
.bootstrap-datetimepicker-widget.dropdown-menu a span:focus {
  background-color: #32aa62 !important;
  color: #fff !important;
}
.bg-panel {
	border-radius: 25px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	
	
}
.bg-primary {
	border-radius: 25px;
	opacity:	0.7;
}
.btn-primary {
	border-radius: 25px;
	opacity:	0.7;
}
.h3-price { 
  color: #0f49c6;
  font-family: 'Oxygen Mono', monospace;
}

.no-wrap {
	white-space: nowrap;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .page-header {
    text-align: left;
  }
  .page-header small {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 1.5em;
    }
    h3 {
    		font-size: 2.0em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
    h3 {
    		font-size: 1.5em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
    h3 {
    		font-size: 1.8em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.5em;
    }
    h3 {
    		font-size: 2.0em;
    }
}