@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Oxygen+Mono';

.page-header {
  text-align: center;
}
.page-header small {
  display: block;
}
.cart-row {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}
.cart-row div {
  text-align: center; 
}
.cart-row img.img-responsive {
  margin: 0 auto; 
}
.h3-price { 
  color: #0f49c6;
  font-family: 'Oxygen Mono', monospace;
}

.no-wrap {
	white-space: nowrap;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .page-header {
    text-align: left;
  }
  .page-header small {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
    h3 {
        font-size: 0.9em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    h3 {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    h3 {
        font-size: 1.2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    h3 {
        font-size: 1.3em;
    }
}